<!doctype html>

  <head>
    <title>Upload mapa</title>
    <h1> Carregar mapa </h1>
    <h3> Carregue o arquivo DXF do mapa. </h3>
    <h3> O arquivo deve seguir o modelo do Solidworks para desenhos. </h3>
  </head>

  <body>
    <form method=post enctype=multipart/form-data>
      <input id='selec' type=file name=file> 
      <input id='enviar' type=submit value=Enviar> <br> <br>
    </form>

    <form action=/submit-trajectory method=get enctype=multipart/form-data>
      <input id='anterior' type=submit value="Utilizar último mapa carregado">
    </form>

  </body>